@import "select2/dist/css/select2.min.css";
@import "flatpickr/dist/flatpickr.min.css";
@import "trix/dist/trix.css";
@import '@simonwep/pickr/dist/themes/nano.min.css';

/* Customize for Select2 */
.select2-container .select2-selection--single {
    @apply h-auto border-0 relative;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    @apply border border-gray-300 focus:border-indigo-300
        focus:ring focus:ring-indigo-200 focus:ring-opacity-50
        rounded-md shadow-sm mt-1 block w-full px-2 py-1.5;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple{
    @apply border border-gray-300 focus:border-indigo-300
    focus:ring focus:ring-indigo-200 focus:ring-opacity-50
    rounded-md shadow-sm mt-1 block w-full px-1 pt-0.5 pb-1.5;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    @apply inset-y-0 flex h-auto px-4;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    @apply relative;
}
.select2-container--open .select2-dropdown--below {
    @apply border border-gray-300 focus:border-indigo-300 shadow-sm -mt-1;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    @apply border border-gray-300 focus:border-indigo-300 focus:ring-0
        rounded-sm block w-full px-2 py-1.5;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    @apply bg-primary-500;
}
.select2-container--default .select2-results__option--selected{
    @apply bg-slate-300;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    @apply bg-slate-200 border border-slate-300;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    @apply border-r border-r-slate-300;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    @apply bg-slate-300;
}
.filterContainer .select2-container--default .select2-selection--single .select2-selection__rendered,
.filterContainer .select2-container--default .select2-selection--multiple,
.filterContainer .select2-container--default.select2-container--focus .select2-selection--multiple {
    @apply border-0 focus:border-0
    focus:ring focus:ring-indigo-200 focus:ring-opacity-50
    rounded-none shadow-none block w-full px-2 py-1.5;
}
.filterContainer .select2-container {
    @apply w-full !important;
}

/* Customize for Flatpicker */
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange,
.flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    @apply bg-primary-500 border-primary-500 rounded-md;
}
.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
    @apply bg-slate-300 border-slate-300 rounded-md;
}
.flatpickr-day.today {
    @apply border-slate-300 rounded-md;
}

/* TRIX EDITOR */
trix-editor {
    /*@apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full;*/
    @apply border-0;
}
trix-toolbar {
    @apply px-2 pt-2;
}
trix-toolbar .trix-button-group {
    @apply w-auto h-auto border border-slate-300 rounded-md overflow-hidden shadow-sm shadow-slate-200;
}
trix-toolbar .trix-button-group button {
    @apply w-auto h-auto px-6 py-1 border-0 border-slate-300;
}
trix-toolbar .trix-button-group button.trix-button--icon::before {
    @apply w-1/2 left-[25%];
}
trix-toolbar .trix-button.trix-active {
    @apply bg-slate-200;
}
trix-toolbar .trix-input--dialog {
    @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full;
}
trix-toolbar .trix-button--dialog {
    @apply w-auto h-auto px-6 py-2.5 border-0 border-slate-300;
}

/* COLOR Pickr */
.pickr {
    @apply flex;
}

/* TODO : Need to Remove */
[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    border-color: transparent !important;
    border-width: 0px !important;
}
[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    box-shadow: none !important;
}
/* END oF REMOVAL */
